@media (max-width: 1439px)
    .contacts
        &__wrapper
            padding-left: 300px
@media (max-width: 1413px)
    .skills
        &__items
            justify-content: space-evenly
    .portfolio
        &__btns
            margin: auto
    .contacts
        &__wrapper
            padding-left: 400px
@media (max-width: 956px)
    .portfolio
        &__btns
            display: flex
            flex-wrap: wrap
            margin-left: 172px
            padding-bottom: 55px
        &__photos img
            margin: 0 auto
    .contacts
        &__wrapper
            padding-left: 277px
@media (max-width: 768px)
    .container
        max-width: 644px
        margin: 0 auto
    .header
        background-size: auto 620px
        background-position: -12px -31px
        padding: 20px 0
    .header__wrapper
        padding: 0
    .lang
        margin-left: auto
        &__ru
            margin-left: 10px
    .nav
        &__list
            display: none
            transition: 0.3s
        &__list-active
            position: absolute
            top: 0
                /* width: 590px; */
            left: 142px
            bottom: 0
            right: 0
            background-color: #000000
                /* display: -webkit-box; */
            display: -ms-flexbox
            display: flex
                /* -webkit-box-orient: vertical; */
                /* -webkit-box-direction: normal; */
            -ms-flex-direction: column
            flex-direction: column
            padding-top: 131px
            padding-right: 387.55px
            padding-left: 97px
            -webkit-box-align: normal
            -ms-flex-align: normal
            align-items: normal
            margin: 0
        &__item
            font-size: 34.8235px
            line-height: 73px
            margin-left: 29px
            margin-bottom: 15px
        &__item:nth-child(1)
            margin-top: 3.6px
    .menu__btn
        margin-left: 20px
        display: block
    .hero
        background-position: -12px -120px
        background-size: auto 620px
        &__name
            font-size: 32px
            line-height: 64px
            font-style: normal
            font-weight: normal
            padding-top: 78px
            margin-bottom: 20px
            margin-left: -1px
        &__desc
            font-size: 20px
            line-height: 24px
            max-width: 390px
            margin-bottom: 60px
        &__button
            padding: 7px 73px
        &__wrapper
            padding: 0
            padding-bottom: 152px
    .skills
        padding-top: 80px
        &__title
            width: 58%
        &__items
            padding-top: 45px
            padding-left: 4px
            padding-right: 3px
        &__item
            max-width: 280px
            padding-left: 0
            padding-right: 0
            margin-bottom: 67px
            h3
                margin-top: -20px
                margin-bottom: 21px
            p
                max-width: 280px
                line-height: 22px
    .section
        &__name
            font-size: 32px
            // font-weight: bold
    .portfolio
        padding-top: 84px
        &__section-title
            width: 51.8%
            margin-bottom: 50px
        &__btns
            display: flex
            flex-wrap: wrap
            margin-left: 0
            margin-left: 102px
            padding-bottom: 55px
        &__btn
            margin-bottom: 5px
        &__photos
            padding: 0px 97px
    .video
        padding: 80px 0px
        .section__title
            width: 48.8%
        .container
            max-width: none
        &__player
            padding: 0
            img
                object-fit: fill
                object-position: 0px bottom
                height: 418px
        &__btn
            top: 168px
            svg
                height: 65px
    .price
        padding-bottom: 30px
        .section__title
            width: 48.8%
        &__wrapper
            padding: 0px 112px
        &__card
            padding-top: 40px
            padding-bottom: 40px
            padding-left: 99px
            padding-right: 94px
            margin-bottom: 50px
    .contacts
        padding-top: 52px
        padding-bottom: 112px
        background-position: -233px 0px
        background-size: 1215px 602px
        &__wrapper
            padding: 0 99px
        &__title
            font-size: 32px
            text-align: center
            margin-left: 5px
            margin-bottom: 32px
        &__btn
            margin-left: 115px
    .footer
        &__wrapper
            flex-direction: column
            padding: 16px 0px
        &__rs span
            margin-left: 0
            display: inline-block
            margin-left: 4px
            margin-top: -20px
            margin-bottom: 5px
        &__network
            max-width: 188px
            display: flex
            justify-content: space-between
@media (max-width: 648px)
    .container
        max-width: 500px
    .header
        background-position: top
    .nav
        &__list-active
            padding-right: 0
    .hero
        background-position: center -89px
        &__name
            padding-top: 203px
    .skills
        padding-top: 0
        &__title
            width: 92%
    .portfolio
        &__photos
            padding: 0
        &__photos img
            padding: 0
            width: 100%
    .video
        &__player img
            height: auto
        &__btn
            top: 50%
            right: 50%
            svg
                height: 47px
    .price
        &__wrapper
            padding: 0
        &__card
            padding-left: 50px
            padding-right: 50px
            margin: 0 auto
    .contacts
        &__wrapper
            padding: 0
            input
                max-width: 300px
                margin-left: 30px
        &__textarea
            max-width: 300px
            margin-left: 30px
@media (max-width: 619px)
    .nav
        &__list-active
            left: 0
            padding-left: 0
            align-items: center
@media (max-width: 512px)
    .container
        max-width: 400px
    .portfolio
        &__btns
            margin-left: 87px
    .contacts
        &__wrapper
            padding: 0
            input
                max-width: 280px
                margin-left: 20px
        &__textarea
            max-width: 280px
            margin-left: 20px
        &__btn
            margin-left: 0px
@media (max-width: 412px)
    .container
        max-width: 310px
    .portfolio
        &__btns
            margin-left: 49px
        &__btn
            margin: 0
    .portfolio
        &__photos img
            width: 37%
    .contacts
        &__wrapper
            padding: 0
            input
                max-width: 210px
                margin-left: 10px
        &__textarea
            max-width: 210px
            margin-left: 10px
